body {

margin: 20px;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
width: 75%;
margin-bottom: 25px;


}

.comment {
    margin: 20px 0px 20px 20px;
}

.card {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;

}
.card-body {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 1px;
margin-bottom: 1px;

}

.menu{
margin-top: 20px;
margin-bottom: 20px;
}

.aaa{
border: medium solid blue;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
margin-bottom: 5px;
}
textarea {

height:100px;
}



