{% extends 'blog/main.html' %}
{% load bootstrap %}
{% block title%} Zaloguj się {% endblock %}
{% block body%}

<div class="card" style="width: 40%;">

  <div class="card-body">
      <h5 class="card-title">Zaloguj się </h5>
          <form method="post">
            {%  csrf_token  %}
            {{form|bootstrap}}
             <button type="submit" class="btn btn-primary">Zaloguj</button>
             <a href="{% url 'post_list' %} "class="btn btn-primary" >Cofnij </a>
        </form>


  </div>
</div>



{% endblock %}