{% extends 'blog/main.html' %}
{% load bootstrap %}
{% block title%}FORMULARZ KONTAKTOWY{% endblock %}
{% block body%}

 {% if user.is_authenticated %}
        Witam {{user.username}}<br>
        <a href="{% url 'logout' %}" class="btn btn-primary" >Wyloguj </a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary" >Zaloguj </a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'post_list' %}" class="btn btn-primary" >Strona główna </a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'new_post' %}" class="btn btn-primary" >Nowy post </a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'messages_list' %}" class="btn btn-primary" >Wiadomości</a>
    {% endif %}

<div class="card" style="width: 70%;">

  <div class="card-body">
      <h5 class="card-title">KONTAKT </h5>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2497.296097176195!2d22.570257715760544!3d51.25045737959373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722574056099a29%3A0xe52f6d48aef8d424!2sZamek%20Lubelski!5e0!3m2!1spl!2spl!4v1585821923230!5m2!1spl!2spl"
        width="600" height="450" frameborder="0" style="border:0 ;"
        allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <h4>
            Nazwa Firmy Sp. z o.o.<br>
            Nazwa Ulicy 123<br>
            Lublin, Poland<br>
            tel. +48 11 111 11 11
        </h4>


  </div>
</div>

<div class="card" style="width: 70%;">

  <div class="card-body">
      <h5 class="card-title">Formularz kontaktowy </h5>
          <form method="post" enctype="multipart/form-data">
            {%  csrf_token  %}
              {{question.media}}
            {{question|bootstrap}}


              <h8>* Pola obowiązkowe</h8><br>
             <button type="submit" class="btn btn-primary">Wyślij</button>
             <a href="{% url 'post_list' %} "class="btn btn-primary" >Cofnij </a>

        </form>




  </div>
</div>



{% endblock %}