{% extends 'blog/main.html' %}
{% load bootstrap %}
{% block title%} Zadaj mi pytanie{% endblock %}
{% block body%}



<div class="card" style="width: 70%;">

  <div class="card-body">
      <h5 class="card-title">Zadaj mi pytanie </h5>
          <form method="post" enctype="multipart/form-data">
            {%  csrf_token  %}
              {{question.media}}
            {{question|bootstrap}}
             <button type="submit" class="btn btn-primary">Wyślij</button>
             <a href="{% url 'post_list' %} "class="btn btn-primary" >Cofnij </a>
        </form>


  </div>
</div>
{% endblock %}