{% extends 'blog/main.html' %}
{% load bootstrap %}
{% block title%} Wiadomości{% endblock %}
{% block body%}

<div class="menu">
 {% if user.is_authenticated %}
        Witam {{user.username}}<br>
        <a href="{% url 'logout' %}" class="btn btn-primary" >Wyloguj </a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary" >Zaloguj </a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'post_list' %}" class="btn btn-primary" >Strona główna </a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'new_post' %}" class="btn btn-primary" >Nowy post </a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'messages_list' %}" class="btn btn-primary" >Wiadomości</a>
    {% endif %}
</div>
<h1> Wiadomości </h1>
{% for message in messages %}
<div class="card" style="width: 50%;">
    <div class="card-body">
        <div>
            <p class="date">
                Wysłany{{ message.create_date }} przez {{ message.name}} adres email :  {{ message.email }}
            </p>
            <p>{{ message.comments }}</p>
             {% if user.is_authenticated %}
            <a href="{% url 'delete_message' message.id %}" class="btn btn-primary">Usuń </a>
          {% endif %}
        </div>
    </div>
</div>


    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if messages.has_previous %}
            <a href="?page=1" class="btn btn-primary">&laquo; pierwsza</a>
            <a href="?page={{ message.previous_page_number }}" class="btn btn-primary">poprzednia</a>
        {% endif %}

        <span class="current btn btn-primary m-2">
            Strona {{ messages.number }} z {{ messages.paginator.num_pages }}.
        </span>

        {% if messages.has_next %}
            <a href="?page={{ messages.next_page_number }} "class="btn btn-primary">następna</a>
            <a href="?page={{ messages.paginator.num_pages }}"class="btn btn-primary">ostatnia &raquo;</a>
        {% endif %}
    </span>
</div>





{% endblock %}