{% extends 'blog/main.html' %}
{% load bootstrap %}
{% block title%} Lista postow{% endblock %}
{% block body%}
{% load blog_tags %}

{% if messages %}

<div class="alert  alert-warning" role="alert">
    {% for message in messages %}
    {% if message.tags %}  {% endif %}
    {{ message }}
</div>

{% endfor %}

{% endif %}
<div class="adminmenu">
    {% if user.is_authenticated %}
    Witam {{user.username}}<br xmlns:blog="http://www.w3.org/1999/xhtml" xmlns:blog="http://www.w3.org/1999/xhtml">
    <a href="{% url 'logout' %}" class="btn btn-primary">Wyloguj </a>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary">Zaloguj </a>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'post_list' %}" class="btn btn-primary">Strona główna </a>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'new_post' %}" class="btn btn-primary">Nowy post </a>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'messages_list' %}" class="btn btn-primary">Wiadomości</a>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="/admin/" class="btn btn-primary">Admin</a>
    {% endif %}
</div>
<div class="header">
    <h1>Najwyższe góry świata </h1>
    <p>Blog o górach </p>
</div>

<div class="rightcolumn">
    <div class="rcard">
        <h2>O mnie </h2>
        <div class="avatar">
            <img src="/Images/avatar.jpg" alt="avatar">
        </div>
        <p>Mam na imię Wojciech jestem wielkim pasjonatem gór. Do tej pory na moim
            blogu opublikowałem {% total_posts %} postów. </p> <br>

        <h5>
            <a href="{% url 'ask_question' %}" class="btn btn-primary">Kontakt </a>
        </h5>
    </div>

    <div class="rcard">
        <h3>Najnowsze posty</h3>
        {%show_latest_posts%}
    </div>
    <div class="rcard">
        <h3>Newsletter </h3>
        <form action="{% url 'email-list-signup' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ newsletter }}
                <button type="submit" class="btn btn-primary">Potwierdź</button>
            </div>
        </form>
    </div>


    <div class="rcard">
        <h3> Śledź moje social media ! :)</h3>
        <h4 style="margin:10px;padding: 20px;">

            <div class="grid-item"><a href="https://github.com/" target="_blank"><i class="fa fa-github"
                                                                                    aria-hidden="true"></i>GitHub</a>
            </div>
            <br>
            <div class="grid-item"><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square"
                                                                                     aria-hidden="true"></i>Facebook</a>
            </div>
            <br>
            <div class="grid-item"><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram-square"
                                                                                      aria-hidden="true"></i>Instagram</a>
            </div>
            <br>
            <div class="grid-item"><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"
                                                                                     aria-hidden="true"></i>Linkedin</a>
            </div>
            <br>
            <div class="grid-item"><a href="{% url 'post_feed' %}" target="_blank"><i class="fas fa-rss-square"
                                                                                      aria-hidden="true"></i>RSS</a>
            </div>


        </h4>
    </div>
</div>
<div class="leftcolumn">
    {% for post in posts %}


    <div class="card">
        <div class="card-body">
            <div>
                <img src="/media/{{post.image}}">
                <h2>
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>

                    <p class="tags">
                        <button type="button" class="btn btn-secondary btn-sm">Tagi:</button>
                        {% for tag in post.tags.all %}
                        <a href="{% url 'blog:post_list_by_tag' tag.slug %} " class="btn btn-outline-secondary btn-sm">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %} {% endif %}
                        {% endfor %}
                    </p>
                </h2>
                <p class="date">
                    Opublikowany {{ post.date_added }} przez {{ post.author}}
                </p>
                <p>{{ post.description|truncatechars_html:229|safe }}

                    <a href="{{ post.get_absolute_url }}">
                        czytaj więcej!
                    </a>
                </p>
                {% if user.is_authenticated %}
                <a href="{% url 'update_post' post.id %}" class="btn btn-primary">Edytuj </a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-primary">Usuń </a>
                {% endif %}
            </div>
        </div>

    </div>
    {% endfor %}


    <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1" class="btn btn-primary">&laquo; pierwsza</a>
            <a href="?page={{ posts.previous_page_number }}" class="btn btn-primary">poprzednia</a>
        {% endif %}
        <span class="current btn btn-primary m-2">
            Strona {{ posts.number }} z {{ posts.paginator.num_pages }}.
        </span>
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }} " class="btn btn-primary">następna</a>
            <a href="?page={{ posts.paginator.num_pages }}" class="btn btn-primary">ostatnia &raquo;</a>
        {% endif %}
    </span>
    </div>

</div>

<div class="footer">
    <br>
    <h5>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://google.com/"> webpage.com</a>
    </h5>
</div>
{% endblock %}
