{% extends 'blog/main.html' %}

{% block title%} Potwierdź {% endblock %}
{% block body%}
<div class="card" style="width: 50%;">
    <div class="card-body">
        <img src="/media/{{post.image}}">
      <div>
            <h2>
                    {{ post.title }}
            </h2>
            <p class="date">
                Opublikowany {{ post.date_added }} przez {{ post.author}}
            </p>
            <p>{{ post.description|safe }}</p>
            <a href="{% url 'post_list' %} "class="btn btn-primary" >Cofnij </a>
      </div>

{% endblock %}